<div id="<%= dom_id friend %>">
<div class="jumbotron"> 
  <h1 class="display-4">
    <%= friend.first_name %>
    <%= friend.last_name %>

  <p class="lead">
    <%= friend.email %> | <%= friend.phone %>
    | <%= friend.insta %>
  </p>
</div>
</div>
